<!doctype html>
<html ng-app="landingPage">
  <head>
    <title>GitHub Pages</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>

    <!--https://github.com/blog/273-github-ribbons-->
    <a href="https://github.com/thutterer/thutterer.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>

    <div class="container">
      <div class="row">
        <section class="tab" ng-controller="TabController as tab">
          <ul class="nav nav-pills">
            <li ng-class="{active:tab.isSet(2)}">
              <a ng-click="tab.setTab(2)" href>Repos</a></li>
            <li ng-class="{active:tab.isSet(3)}">
              <a ng-click="tab.setTab(3)" href>Gists</a></li>
            <li ng-class="{active:tab.isSet(1)}">
              <a ng-click="tab.setTab(1)" href>Links</a></li>
          </ul>
          <div ng-show="tab.isSet(1)" ng-controller="BookmarkController as bc">
            <h3>Links</h3>
            <div class="list-group">
              <a ng-repeat="bookmark in bc.bookmarks | orderBy: 'title'" class="list-group-item" href="{{bookmark.url}}">
                <img ng-src="{{bookmark.url}}/favicon.ico" />
                {{bookmark.title}}
              </a>
            </div>             
          </div>
          <div ng-show="tab.isSet(2)" ng-controller='RepoController as rc'>
            <h3>Repos</h3>
            <div class="well form-group">
              <label>Search</label><input ng-model="query" class="form-control" id="repoQueryInput">
            </div>
            <div class="list-group">
              <a ng-repeat="repo in rc.repos | filter:{name:query} | orderBy: 'name'" class="list-group-item" href="{{repo.html_url}}">
                {{repo.name}}
              </a>
            </div>
          </div>
          <div ng-show="tab.isSet(3)" ng-controller='GistController as gc'>
            <h3>Gists</h3>
            <div class="well form-group">
              <label>Search</label><input ng-model="query" class="form-control" id="gistQueryInput">
            </div>
            <div class="list-group">
              <a ng-repeat="gist in gc.gists | filter:{description:query} | orderBy: 'updated_at'" class="list-group-item" href="{{gist.html_url}}">
                {{gist.description}}
              </a>
            </div>              
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
